<div class="container bckbtn">
			<div class="col-md-12">
			  <%= link_to 'Back', blogs_path, class: "label label-success" %>
			</div>
		</div>
<div class="container">

<h1>New blog</h1>

<%= render 'form' %>


</div>