<div class="container">
<div class="col-xs-12">
<h1>OUR TRIP IN PHOTOS</h1>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="insta-pg" id="instafeed">
								   	
	</div>
  </div>
</div>
</div>
</div>

<script>
    var userFeed = new Instafeed({
        get: 'user',
        userId: 1391563010,
        accessToken: '1391563010.467ede5.619c49990ba54786be11544561bd6a14',
        sortBy: 'most-recent',
        
        resolution: 'low_resolution',
        template: '<div class="instafeed2"><a href="{{link}}" target="_blank" alt="{{location}}" ><img src="{{image}}"  title="{{location}}" /><div class="likes"><span class="hearts">&hearts;</span> {{likes}} <span style="font-size:10px;">{{location}}</span></div></a></div>'
    });
    userFeed.run();

</script>


<!-- replace if you want to show likes -->
<!-- <div class="instafeed2"><a href="{{link}}" target="_blank" alt="{{location}}" ><img src="{{image}}"  title="{{location}}" /><div class="likes"><span class="hearts">&hearts;</span> {{likes}} <span style="font-size:10px;">{{location}}</span></div></a></div> -->