#blogs {
  margin: 0 auto;
  width: 100% !important;
  
}

.box {
  margin: 5px;
  width: 370px;
 
}




.box img {
  width: 100%;
   border-top: #8CC152 5px solid;
}

.box img:hover {color: #8CC152; opacity: .8;}