

<footer>
<div class="clear" style="background-color: #a0d468; opacity: .9; height: 40px;">

<div class="container text-center">
<div class="col-xs-12">
<p class="center awesome">Website By:<a href="http://awesomewebsiteguys.com" target="_blank" > Awesome Website guys <img src="http://awesomewebsiteguys.com/wp-content/uploads/2014/12/mustlogo.png"" style="width: 50px;" class="buzz-out" data-toggle="tooltip" data-placement="top" title="Awesome Website Guys"></a></p></div>
</div>

</div>
</footer>