

<footer>
<div class="clear" style="background-color: #a0d468; opacity: .9; height: 40px;">

<div class="container text-center">
<div class="col-xs-12">
<p style="margin-top:10px; color:#333;">A BZLY GROUP PROJECT</p>
</div>
</div>

</div>
</footer>