<header>

<nav class="navbar navbar-static-top navbar-inverse" role="navigation">
  <div class="container">
    <a class="navbar-brand" href="#" >TREKKER.CO</a>
  </div>
</nav>
</header>
<div>

</div>